{% extends "main.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="css/cards/base.css" />
  <link rel="stylesheet" href="css/cards/cards.css" />
  
  <script type="module" crossorigin src="{{ base_url }}/assets/cards/index.caca6175.js"></script>
  <link rel="stylesheet" href="{{ base_url }}/assets/cards/index.c9fa2768.css">
  
  <style>
    body {
      background-image: url({{ base_url }}/assets/images/home/light.jpg);
      background-size: cover;
    }
    body[data-md-color-scheme="slate"] {
      background-image: url({{ base_url }}/assets/images/home/dark.jpg);
      background-size: cover;
    }
    .md-header, .md-tabs, .md-footer, .md-footer-meta {
      background-color: transparent;
    }
    @media screen and (min-width: 1220px) {
      .sidebar_nav {
        height: 0 !important;
      }
    }

    /* 👇 优雅且稳妥的排版，去掉了红框，使用相对位置 👇 */
    #app {
      position: absolute;
      right: 15%;  /* 距离屏幕右侧 15%，根据你的喜好可以改大改小 */
      top: 25%;    /* 距离顶部 25% */
      z-index: 99; /* 确保悬浮在所有图文上方 */
    }

    /* 注：已安全移除导致小屏幕误判隐身的 @media 隐藏代码 */

    .md-main {
      display: flex;
      flex-direction: column;
    }
    .md-main__inner {
      flex: 1;
      display: flex;
      margin-top: 1.5rem;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }
    .md-content {
      flex-grow: initial;
    }
    .md-content__inner {
      margin: 0 !important;
    }
    .md-header--shadow {
      box-shadow: none !important;
    }
  </style>
{% endblock %}

{% block site_nav %}
  <div style="flex-grow: 1;">
    <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation">
      <div class="md-sidebar__scrollwrap sidebar_nav">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="app"></div>
  
  <div class="md-typeset" style="display: block; background-color: transparent; font-size: 125%;">
    <div class="md-grid">
      <div style="margin-left: 0.8rem;">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}